body {
    margin:0;
    padding: 0;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 20px;
    align-self: center;
    font-weight: 300;
}

#button-container {
    flex-grow: 1;
    background-color: rgb(199, 198, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #7d7e82;
    border-bottom: 3px solid #7d7e82;
}

button {
    width: 150px;
    height: 150px;
    background-color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #7d7e82;
}

#results {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.results-panel {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #7d7e82;
    margin-top: 20px;
    margin-bottom: 20px;
}

.score-tracker {
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.roundScore {
    height: 20px;
}

p {
    text-align: center;
}

.score-tag {
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
}

.player-score {
    font-size: 70px;
    margin: 0;
}

.computer-score {
    font-size: 70px;
    margin: 0;
}